.headn {
  color: red;
}
.card__image {
  width: 16rem;
  height: 14rem;
}

.card__btn {
  padding: 0.7rem;
  color: var(--text-color);
  border-style: none;
  background-color: transparent;
  font-size: 1.1rem;
  border-radius: 3px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.sec-btn {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.pri-btn {
  color: var(--primary-color);
  background-color: var(--text-color);
  border: 0.1rem solid var(--primary-color);
}

.btn1 {
  padding: 0.5rem 1.4rem;
  border-radius: 0.4rem;
  width: 16rem;
}
.wrapper {
  justify-content: center;
  gap: 4rem;
}

.add {
  width: max-content;
}

.single-product{
margin: 2rem;
max-width: 30%;
padding:2rem;
background:white;
box-shadow: "1px 1px 4px rgb(151,140,140)";
}

